<div class="row">
  <button
    class="btn btn-secondary"
    type="button"
    (click)="start()"
    [disabled]="isStartedGame"
  >
    {{ startButtonValue }}
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="hit()"
    [disabled]="!isStartedGame"
  >
    {{ hitButtonValue }}
  </button>
  <button
    class="btn btn-success"
    type="button"
    (click)="stay()"
    [disabled]="!isStartedGame"
  >
    {{ stayButtonValue }}
  </button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="reset()"
    [disabled]="!isStartedGame"
  >
    {{ resetButtonValue }}
  </button>
</div>
